<!-- <body class="pricing">
    <div class="container py-5">
      <div class="row mx-5 my-5">
        <div class="row row-cols-1 row-cols-md-3 mb-3">
          <app-card *ngFor="let item of plans" [planObj]="item">
          </app-card>
        </div>
      </div>
    </div>
  </body> -->
<div class="bg-primary container-100%">
        <div class="d-flex justify-content-center gap-5">
            <app-card *ngFor="let item of plans" [planObj]="item">
            </app-card>
        </div>
</div>
    <!-- card-1 -->
    <!-- <app-card
        [cardTitle]="cards[0].cardTitle"
        [price]="cards[0].price"
        [listItems]="cards[0].listItems"
        ></app-card> -->

    <!-- card-2 -->
    <!-- <app-card
        [cardTitle]="cards[1].cardTitle"
        [price]="cards[1].price"
        [listItems]="cards[1].listItems"
        ></app-card>
     -->
    <!-- card-3 -->
    <!-- <app-card
        [cardTitle]="cards[2].cardTitle"
        [price]="cards[2].price"
        [listItems]="cards[2].listItems"
        ></app-card> -->